{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
        <title>Qodirboyev Demir</title>
        <link rel="stylesheet" href="{% static 'css/home_view/main.css' %}">
        <link rel="stylesheet" href="{% static 'css/projects.css' %}">
        <link rel="icon" href="{% static 'foto/site_logo.jpg' %}">
        <!-- meta teglar -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">

        <!-- tashqi linklar -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header class="sections_header">
        <div class="cantener">
            <div class="sections_header_div">
                <div class="site_logo">
                    <a href="{% url 'home' %}">
                    <img src="{% static 'foto/site_logo.jpg' %}" alt="logo">
                    </a>
                </div>
                <h3 class="matn_h4">Loyihalarm<i class="fa-solid fa-bars-progress"></i></h3>
                <div class="back_button">
                    <form action="{% url 'home' %}" method="get">
                        {% csrf_token %}
                        <button type="submit" class="button">🔙</button>
                    </form>
                </div>
            </div>
        </div>
    </header>

    <!-- Blur oyna va cantener -->
    <div class="blur_oynalar">
            <div class="blur_oyna_top blur_style"></div>
            <div class="blur_oyna_bottom blur_style"></div>
        </div>
    <div class="cantener">

    <div class="projects_info matn_h4">
        Bu mening loyihalarim bo‘limi. Bu yerda men
        yaratgan va amalga oshirgan barcha loyihalar
        jamlangan. Har bir loyiha mening tajribam, mehnatim
        va ijodiy yondashuvimni aks ettiradi. Ularni ko‘rib
        chiqish orqali mening ish uslubim, g‘oyalarim va natijalarim
        haqida to‘liq tasavvurga ega bo‘lishingiz mumkin.
    </div>

    <section class="project_blog">
        {% for i in object_list %}
        <div class="project_kard">
            <div class="blog_img">
                <img src="{{ i.image.url }}" alt="project_foto">
            </div>
            <div class="blog_info">
                <h4 class="matn_h4">{{ i.title }}</h4>
                <p class="matn_h4">{{ i.text }}</p>
                <sub class="matn_h4">{{ i.time|date:"d F Y, H:i" }}</sub>
            </div>
            <div class="project_link">
                <a href="{{ i.url }}" class="matn_h4 green_red_button" target="_blank">ko'rish...</a>
            </div>
        </div>
        {% endfor %}
    </section>



    <div class="project_add_button">
        <p class="matn_h4">Yangi loyiha qo'shish</p>
        <a href="{% url 'add_project' %}" class="green_red_button"><i class="fa-solid fa-square-plus"></i></a>
    </div>





    </div><!-- /Blur oyna va cantener -->
    <footer class="Footer_bolim" id="Footer_bolim"><!--Footer section-->
            <div class="cantener">
                <div class="Footer_cantener">
                    <div class="site_logo">
                            <a href="{% url 'home' %}">
                                <img src="{% static 'foto/site_logo.jpg' %}" alt="logo">
                            </a>
                    </div>
                    <div class="Footer_info">
                        <p class="matn_h4">© 2026 Demir Portfolio — Mehnat, ijod va sabr natijasi.</p>
                    </div>
                    <div class="Footer_media">
                        <a href="https://instagram.com/_qodirboyev_demir__" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                        <a href="https://t.me/qodirboyev_demir" target="_blank"><i class="fa-brands fa-telegram"></i></a>
                        <a href="https://github.com//qodirboyev" target="_blank"><i class="fa-brands fa-github"></i></a>
                        <a href="https://www.linkedin.com/in/demir-qodirboyev-b989b83b5/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
    </footer><!--/Footer section-->

</body>
</html>
