{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Qodirboyev Demir</title>
        <link rel="stylesheet" href="{% static 'css/home_view/main.css' %}">
        <link rel="stylesheet" href="{% static 'css/home_view/home.css' %}">
        <link rel="icon" href="{% static 'foto/site_logo.jpg' %}">
        <!-- meta teglar -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <meta name="description" content="Demirning portfolio sayti.">
        <meta name="keywords" content="Demir, portfolio, Python, Django, Logo, projects, web development">
        <meta name="author" content="Qodirboyev Demir">

        <!-- tashqi linklar -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    </head>
    <body>
        <div class="blur_oynalar">
            <div class="blur_oyna_top blur_style"></div>
            <div class="blur_oyna_bottom blur_style"></div>
        </div>


        <header class="header_bolim"> <!--header section-->
            <div class="cantener">
                <div class="header_div">
                    <div class="site_logo">
                        <a href="{% url 'home' %}">
                            <img src="{% static 'foto/site_logo.jpg' %}" alt="logo">
                        </a>
                    </div>
                    <nav class="menu_navbar">
                        <ul class="menu_ul">
                            <li class="menu_element">
                                <a href="#Asosiy_bolim">
                                    <i class="fa-solid fa-house"></i>
                                    <span>Asosiy</span>
                                </a>
                            </li>
                            <li class="menu_element">
                                <a href="#Men_haqimda_bolim">
                                    <i class="fa-solid fa-user-tie"></i>
                                    <span>Men haqimda</span>
                                </a>
                            </li>
                            <li class="menu_element">
                                <a href="#loyihalar_bolim">
                                    <i class="fa-solid fa-bars-progress"></i>
                                    <span>Loyihalar</span>
                                </a>
                            </li>
                            <li class="menu_element">
                                <a href="#Logolar_bolim">
                                    <i class="fa-solid fa-paintbrush"></i>
                                    <span>Logolar</span>
                                </a>
                            </li>
                            <li class="menu_element">
                                <a href="#Oilam_bolim">
                                    <i class="fa-solid fa-hands-holding-child"></i>
                                    <span>Oilam</span>
                                </a>
                            </li>
                            <li class="menu_element">
                                <a href="#Resume_bolim">
                                    <i class="fa-solid fa-address-card"></i>
                                    <span>Resume</span>
                                </a>
                            </li>
                            <li class="menu_element">
                                <a href="#Izohlar_bolim">
                                    <i class="fa-solid fa-comment-dots"></i>
                                    <span>Izohlar</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <div class="user_register">
                        {% if user.is_authenticated %}
                        <div class="logout_username">
                            <div class="matn_h4"><i class="fa-solid fa-user" style="color: rgb(98, 98, 214);"></i>{{ user.first_name }}</div>
                            <form action="{% url 'logout' %}" method="post">
                                {% csrf_token %}
                                <button type="submit" class="green_red_button">logout<i class="fa-solid fa-right-from-bracket"></i></button>
                            </form>
                        </div>
                        {% else %}
                        <div class="login_signup">
                            <form action="{% url 'login' %}" method="post">
                                {% csrf_token %}
                                <button type="submit" class="green_red_button">Login<i class="fa-solid fa-right-to-bracket"></i></button>
                            </form>
                            <form action="{% url 'signup' %}" method="get">
                                {% csrf_token %}
                                <button type="submit" class="green_red_button">Signup<i class="fa-solid fa-user-plus"></i></button>
                            </form>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </header><!--/header section-->
        

        <div class="cantener"> 
        <p class="section_name matn_h4">Mine-section</p><span class="blur_line"></span>
        <section class="Asosiy_bolim" id="Asosiy_bolim"><!--Asosiy section-->            
                <div class="Asosiy_bolim_matn">
                    <div class="Welcome">
                        <h4 class="matn_h4">Salom xush kelibsiz🖐️😊</h4>
                        <h1 class="matn_h4">Qodirboyev Demir</h1>
                        <h4 class="matn_h4">ning web profilega🌐</h4>
                    </div>
                </div>
                <div class="Asosiy_bolim_rasm">
                    <img src="{% static 'foto/logo_it.jpg' %}" alt="logo">
                </div>
        </section><!--/Asosiy section-->
        </div>
        

        <div class="cantener">
        <p class="section_name matn_h4">Aboute-section</p><span class="blur_line"></span>
        <section class="Men_haqimda_bolim" id="Men_haqimda_bolim"><!--Men_haqimda section-->
            <div class="Men_haqimda_rasm">
                <div id="carouselExampleControlsNoTouching" class="carousel slide" data-bs-touch="false" data-bs-interval="false">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="{% static '/foto/1-rasm.jpg' %}" class="d-block w-100" alt="foto">
                    </div>
                    <div class="carousel-item">
                        <img src="{% static '/foto/2-rasm.jpg' %}" class="d-block w-100" alt="foto">
                    </div>
                    <div class="carousel-item">
                        <img src="{% static '/foto/3-rasm.jpg' %}" class="d-block w-100" alt="foto">
                    </div>
                    <div class="carousel-item">
                        <img src="{% static '/foto/4-rasm.jpg' %}" class="d-block w-100" alt="foto">
                    </div>
                    <div class="carousel-item">
                        <img src="{% static '/foto/6-rasm.jpg' %}" class="d-block w-100" alt="foto">
                    </div>
                    <div class="carousel-item">
                        <img src="{% static '/foto/9-rasm.jpg' %}" class="d-block w-100" alt="foto">
                    </div>
                    <div class="carousel-item">
                        <img src="{% static '/foto/7-rasm.jpg' %}" class="d-block w-100" alt="foto">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
                </div>
            </div>
            <div class="Men_haqimda_matn">
                <h4 class="matn_h4">Men haqimda barcha ma’lumotlar ushbu bo‘limda to‘liq ko‘rsatilgan.</h4>
                <form action="{% url 'about' %}" method="get">
                    {% csrf_token %}
                    <i class="fa-solid fa-angles-up rgb_orrow"></i>
                    <button type="submit" class="button">Ko'rish</button>
                    <i class="fa-solid fa-angles-down rgb_orrow"></i>
                </form>
            </div>
        </section><!--/Men_haqimda section-->
        </div>
        
        <div class="cantener">
        <p class="section_name matn_h4">Projects-section</p><span class="blur_line"></span>
        <section class="loyihalar_bolim" id="loyihalar_bolim"><!--loyihalar section-->
            <div class="loyihalar_title matn_h4">Bu mening loyihalarim bo'limi</div>
            <div class="loyihalar_matn">
                <p class="matn_h4">Bu yerda
                men yaratgan va amalga oshirgan barcha loyihalar
                jamlangan. Har bir loyiha mening tajribam, 
                mehnatim va ijodiy yondashuvimni aks ettiradi.
                Ularni ko‘rib chiqish orqali mening ish 
                uslubim, g‘oyalarim va natijalarim haqida 
                to‘liq tasavvurga ega bo‘lishingiz mumkin.</p>
                <form action="projects" method="get">
                    <i class="fa-solid fa-angles-up rgb_orrow"></i>
                    <button type="submit" class="button">Ko'rish</button>
                    <i class="fa-solid fa-angles-down rgb_orrow"></i>
                </form>
            </div>
            <div class="loyihalar_rasm">
                <div class="track_bar">
                    <img src="{% static 'foto/python_coding.png' %}" alt="python" class="track_bar_item">
                    <img src="{% static 'foto/web_development.png' %}" alt="web_d" class="track_bar_item">
                    <img src="{% static 'foto/ai_foto.png' %}" alt="ai_foto" class="track_bar_item">
                    <img src="{% static 'foto/telegram_bots.png' %}" alt="t_bots" class="track_bar_item">
                    <img src="{% static 'foto/database.png' %}" alt="database" class="track_bar_item">
                </div>
            </div>
        </section><!--/loyihalar section-->
        </div>


        <div class="cantener">
        <p class="section_name matn_h4">Logos-section</p><span class="blur_line"></span>
        <section class="Logolar_bolim" id="Logolar_bolim"><!--Logolar section-->
            <div class="logo_carusel_top">
                <img src="{% static 'foto/demir_logo.jpg' %}" alt="follow_logo" class="logo_img">
                <img src="{% static 'foto/721_logo.jpg' %}" alt="follow_logo" class="logo_img">
                <img src="{% static 'foto/adham_logo.jpg' %}" alt="follow_logo" class="logo_img">
                <img src="{% static 'foto/aydos_logo.jpg' %}" alt="follow_logo" class="logo_img">
                <img src="{% static 'foto/Alibek_logo.jpg' %}" alt="follow_logo" class="logo_img">
                <img src="{% static 'foto/att_logo.jpg' %}" alt="follow_logo" class="logo_img">
                <img src="{% static 'foto/bak_logo.jpg' %}" alt="follow_logo" class="logo_img">
                <img src="{% static 'foto/AYKO_logo.jpg' %}" alt="follow_logo" class="logo_img">
                <img src="{% static 'foto/bt08_logo.jpg' %}" alt="follow_logo" class="logo_img">
                <img src="{% static 'foto/dilshod_logo.jpg' %}" alt="follow_logo" class="logo_img">
            </div>
            <div class="Logolar_logo">
                <img src="{% static 'foto/demir_logo_after.jpg' %}" alt="after_logo">
            </div>
            <div class="Logolar_info">
                <p class="matn_h4">Logotiplarim mening ijodimning eng yorqin ko‘rinishlaridan biridir.
                Bu bo‘limda men chizgan va ishlab chiqqan logotiplarni topasiz. Har bir 
                ish sabr, tasavvur va ijodiy fikrlarimning natijasi bo‘lib, ularni ko‘rish 
                orqali mening dizaynga bo‘lgan mehrimni anglaysiz.</p>
                <form action="{% url 'logo' %}" method="get">
                    <i class="fa-solid fa-angles-up rgb_orrow"></i>
                    <button type="submit" class="button">Ko'rish</button>
                    <i class="fa-solid fa-angles-down rgb_orrow"></i>
                </form>
            </div>
            <div class="logo_carusel_bottom">
                <img src="{% static 'foto/green_71_logo.jpg' %}" alt="follow_logo" class="logo_img">
                <img src="{% static 'foto/hamachi_logo.jpg' %}" alt="follow_logo" class="logo_img">
                <img src="{% static 'foto/ib_logo.jpg' %}" alt="follow_logo" class="logo_img">
                <img src="{% static 'foto/ixtyor_logo.jpg' %}" alt="follow_logo" class="logo_img">
                <img src="{% static 'foto/javoh_logo.jpg' %}" alt="follow_logo" class="logo_img">
                <img src="{% static 'foto/mk_logo.jpg' %}" alt="follow_logo" class="logo_img">
                <img src="{% static 'foto/ocen_logo.jpg' %}" alt="follow_logo" class="logo_img">
                <img src="{% static 'foto/shakh_logo.jpg' %}" alt="follow_logo" class="logo_img">
                <img src="{% static 'foto/umar_logo.jpg' %}" alt="follow_logo" class="logo_img">
                <img src="{% static 'foto/yoldashev_logo.jpg' %}" alt="follow_logo" class="logo_img">
            </div>
        </section><!--/Logolar section-->
        </div>


        <div class="cantener">
        <p class="section_name matn_h4">Family-section</p><span class="blur_line"></span>
        <section class="Oilam_bolim" id="Oilam_bolim"><!--Oilam section-->
            <div class="Oilam_info">
                <p class="matn_h4">
                    🤍Mening oilam hayotimdagi eng muhim
                    bo‘limlardan biridir. Bu yerda oilam bilan bog‘liq
                    eng qadrli lahzalar, chizgan ishlarim va 
                    xotiralarim jamlangan. Ularni ko‘rib chiqish orqali
                    mening shaxsiy dunyoqarashim va qadriyatlarimni his
                    qilishingiz mumkin.
                </p>
                <form action="{% url 'family' %}" method="get">
                    <i class="fa-solid fa-angles-up rgb_orrow"></i>
                    <button type="submit" class="button">Ko'rish</button>
                    <i class="fa-solid fa-angles-down rgb_orrow"></i>
                </form>
            </div>
            <div class="Oilam_rasm">
                <div class="photos_1">
                    <img src="{% static 'foto/famliy_1.jpg' %}" alt="oilom_foto">
                    <img src="{% static 'foto/famliy_4.jpg' %}" alt="oilom_foto">
                </div>
                <div class="photos_2">
                    <img src="{% static 'foto/famliy_5.jpg' %}" alt="oilom_foto">
                    <img src="{% static 'foto/famliy_6.png' %}" alt="oilom_foto">
                    <img src="{% static 'foto/famliy_7.jpg' %}" alt="oilom_foto">
                    <img src="{% static 'foto/famliy_8.jpg' %}" alt="oilom_foto">
                </div>
                <div class="photos_3">
                    <img src="{% static 'foto/famliy_2.jpg' %}" alt="oilom_foto">
                    <img src="{% static 'foto/famliy_3.jpg' %}" alt="oilom_foto">
                </div>    
            </div>
        </section><!--/Oilam section-->
        </div>



        <div class="cantener">
        <p class="section_name matn_h4">Resume-section</p><span class="blur_line"></span>
        <section class="Resume_bolim" id="Resume_bolim"><!--Resume section-->
            <div class="Resume_rasm">
                <img src="{% static 'foto/resume.png' %}" alt="resume_foto">
            </div>
            <div class="Resume_info">
                <p class="matn_h4">
                    Mening resume sahifamda ta’limim, texnik 
                    bilimlarim va amaliy tajribalarim haqida 
                    to‘liq ma’lumot berilgan. Bu yerda dasturlash 
                    yo‘nalishidagi rivojlanishim, ishlagan
                    texnologiyalarim va yaratgan loyihalarim
                    bilan tanishishingiz mumkin.
                </p>
                <form action="{% url 'resume' %}" method="get">
                    <i class="fa-solid fa-angles-up rgb_orrow"></i>
                    <button type="submit" class="button">Ko'rish</button>
                    <i class="fa-solid fa-angles-down rgb_orrow"></i>
                </form>
            </div>
        </section><!--/Resume section-->
        </div>


        <div class="cantener">
        <p class="section_name matn_h4">Commands-section</p><span class="blur_line"></span>
        <section class="Izohlar_bolim" id="Izohlar_bolim"><!--Izohlar section-->
            <div class="Izohlar_matn">
                <p class="matn_h4">
                Portfolio bo‘ylab sayohatingiz yakuniga yetdi.
                Endi esa sizning fikringizni eshitishni istayman.<br>
                Ushbu bo‘lim orqali sayt haqidagi fikrlar, baholar va
                tashrif buyuruvchilarning mulohazalari bilan tanishishingiz
                mumkin. Har bir izoh men uchun qimmatli bo‘lib, yangi
                g‘oyalar va yanada sifatli loyihalar yaratishimga yordam beradi.<br>
                Agar portfolio sizda yaxshi taassurot qoldirgan bo‘lsa yoki 
                takliflaringiz bo‘lsa, izohlar sahifasiga o‘tib o‘z fikringizni 
                qoldirishingiz mumkin.
                </p>
                <form action="{% url 'comments' %}" method="get">
                    {% csrf_token %}
                    <div class="comment_data">
                        <i class="fa-solid fa-user" style="color: rgb(98, 98, 214);"></i>
                        <span>+{{ total_users }}</span>
                        <i class="fa-solid fa-comment-dots" style="color: white;"></i>
                        <span>+{{ total_comments }}</span>
                        <i class="fa-solid fa-star" style="color: gold;"></i>
                        <span>{{ average_rating }}</span>
                    </div>
                    <i class="fa-solid fa-angles-up rgb_orrow"></i>
                    <button type="submit" class="button">Izohlar💬</button>
                    <i class="fa-solid fa-angles-down rgb_orrow"></i>
                </form>
            </div>
        </section><!--/Izohlar section-->
        </div>



        <footer class="Footer_bolim" id="Footer_bolim"><!--Footer section-->
        <div class="cantener">
            <div class="Footer_cantener">
                <div class="site_logo">
                        <a href="{% url 'home' %}">
                            <img src="{% static 'foto/site_logo.jpg' %}" alt="logo">
                        </a>
                </div>
                <div class="Footer_info">
                    <p class="matn_h4">© 2026 Demir Portfolio — Mehnat, ijod va sabr natijasi.</p>
                </div>
                <div class="Footer_media">
                    <a href="https://instagram.com/_qodirboyev_demir_" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                    <a href="https://t.me/qodirboyev_demir" target="_blank"><i class="fa-brands fa-telegram"></i></a>
                    <a href="https://github.com//qodirboyev" target="_blank"><i class="fa-brands fa-github"></i></a>
                    <a href="https://www.linkedin.com/in/demir-qodirboyev-b989b83b5/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
                </div>
            </div>
        </div>
        </footer><!--/Footer section-->

        <!-- bootstrap js linklar -->
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    </body>
</html>