{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
        <title>Qodirboyev Demir</title>
        <link rel="stylesheet" href="{% static 'css/home_view/main.css' %}">
        <link rel="stylesheet" href="{% static 'css/home_view/home.css' %}">
        <link rel="stylesheet" href="{% static 'css/family_logo.css' %}">
        <link rel="icon" href="{% static 'foto/site_logo.jpg' %}">
        <!-- meta teglar -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">

        <!-- tashqi linklar -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header class="sections_header">
        <div class="cantener">
            <div class="sections_header_div">
                <div class="site_logo">
                    <a href="{% url 'home' %}">
                        <img src="{% static 'foto/site_logo.jpg' %}" alt="logo">
                    </a>
                </div>
                <h3 class="matn_h4">Oilam👨‍👩‍👧‍👦</h3>
                <div>
                    <form action="{% url 'home' %}" method="get">
                        {% csrf_token %}
                        <button type="submit" class="button">🔙</button>
                    </form>
                </div>
            </div>
        </div>
    </header>

    <!-- Blur oyna va cantener -->
    <div class="blur_oynalar">
            <div class="blur_oyna_top blur_style"></div>
            <div class="blur_oyna_bottom blur_style"></div>
        </div>
    <div class="cantener">



    <section class="carusel_img">
        <div class="logo_carusel_top">
                <img src="{% static 'foto/famliy_1.jpg' %}" alt="oilom_foto">
                <img src="{% static 'foto/famliy_4.jpg' %}" alt="oilom_foto">
                <img src="{% static 'foto/famliy_5.jpg' %}" alt="oilom_foto">
                <img src="{% static 'foto/famliy_6.png' %}" alt="oilom_foto">
                <img src="{% static 'foto/famliy_7.jpg' %}" alt="oilom_foto">
                <img src="{% static 'foto/famliy_8.jpg' %}" alt="oilom_foto">
                <img src="{% static 'foto/famliy_2.jpg' %}" alt="oilom_foto">
                <img src="{% static 'foto/famliy_3.jpg' %}" alt="oilom_foto">
                <img src="{% static 'foto/famliy_1.jpg' %}" alt="oilom_foto">
                <img src="{% static 'foto/famliy_4.jpg' %}" alt="oilom_foto">
                <img src="{% static 'foto/famliy_5.jpg' %}" alt="oilom_foto">
                <img src="{% static 'foto/famliy_6.png' %}" alt="oilom_foto">
                <img src="{% static 'foto/famliy_7.jpg' %}" alt="oilom_foto">
                <img src="{% static 'foto/famliy_8.jpg' %}" alt="oilom_foto">
                <img src="{% static 'foto/famliy_2.jpg' %}" alt="oilom_foto">
                <img src="{% static 'foto/famliy_3.jpg' %}" alt="oilom_foto">
                <img src="{% static 'foto/famliy_1.jpg' %}" alt="oilom_foto">
                <img src="{% static 'foto/famliy_4.jpg' %}" alt="oilom_foto">
                <img src="{% static 'foto/famliy_2.jpg' %}" alt="oilom_foto">
                <img src="{% static 'foto/famliy_3.jpg' %}" alt="oilom_foto">
            </div>
    </section>



    <section class="carusel_img_bottom">
        <div class="logo_carusel_bottom">
                <img src="{% static 'foto/famliy_1.jpg' %}" alt="oilom_foto">
                <img src="{% static 'foto/famliy_4.jpg' %}" alt="oilom_foto">
                <img src="{% static 'foto/famliy_5.jpg' %}" alt="oilom_foto">
                <img src="{% static 'foto/famliy_6.png' %}" alt="oilom_foto">
                <img src="{% static 'foto/famliy_7.jpg' %}" alt="oilom_foto">
                <img src="{% static 'foto/famliy_8.jpg' %}" alt="oilom_foto">
                <img src="{% static 'foto/famliy_2.jpg' %}" alt="oilom_foto">
                <img src="{% static 'foto/famliy_3.jpg' %}" alt="oilom_foto">
                <img src="{% static 'foto/famliy_1.jpg' %}" alt="oilom_foto">
                <img src="{% static 'foto/famliy_4.jpg' %}" alt="oilom_foto">
                <img src="{% static 'foto/famliy_5.jpg' %}" alt="oilom_foto">
                <img src="{% static 'foto/famliy_6.png' %}" alt="oilom_foto">
                <img src="{% static 'foto/famliy_7.jpg' %}" alt="oilom_foto">
                <img src="{% static 'foto/famliy_8.jpg' %}" alt="oilom_foto">
                <img src="{% static 'foto/famliy_2.jpg' %}" alt="oilom_foto">
                <img src="{% static 'foto/famliy_3.jpg' %}" alt="oilom_foto">
                <img src="{% static 'foto/famliy_1.jpg' %}" alt="oilom_foto">
                <img src="{% static 'foto/famliy_4.jpg' %}" alt="oilom_foto">
                <img src="{% static 'foto/famliy_2.jpg' %}" alt="oilom_foto">
                <img src="{% static 'foto/famliy_3.jpg' %}" alt="oilom_foto">
            </div>
    </section>


    <section class="family_info">
        <p class="matn_h4">Bu bo‘limda mening oilam va
            yaqinlarim bilan bog‘liq xotiralar jamlangan.
            Bu yerda men yaratgan dizaynlar, suratlar va
            o‘ziga xos lahzalar aks etgan. Har bir
            ish — mehr, samimiyat va qadriyatlarning ifodasi.</p>
    </section>


    <section class="family_blog">
        {% for blog in object_list %}
        <div class="blog_kard">
            <div class="blog_img">
                <img src="{{ blog.image.url }}" alt="blog_foto">
            </div>
            <div class="blog_info">
                <h4 class="matn_h4">{{ blog.title }}</h4>
                <p class="matn_h4">{{ blog.text }}</p>
                <sub class="matn_h4">{{ blog.time|date:"d F Y, H:i" }}</sub>
            </div>
        </div>
        {% endfor %}
    </section>


    <div class="add_family_blog">
        <h4 class="matn_h4">Yangi blog qo'shish</h4>
        <a href="{% url 'add_family_blog' %}" class="green_red_button"><i class="fa-solid fa-square-plus"></i></a>
    </div>



    </div><!-- /Blur oyna va cantener -->
    <footer class="Footer_bolim" id="Footer_bolim"><!--Footer section-->
            <div class="cantener">
                <div class="Footer_cantener">
                    <div class="site_logo">
                            <a href="{% url 'home' %}">
                                <img src="{% static 'foto/site_logo.jpg' %}" alt="logo">
                            </a>
                    </div>
                    <div class="Footer_info">
                        <p class="matn_h4">© 2026 Demir Portfolio — Mehnat, ijod va sabr natijasi.</p>
                    </div>
                    <div class="Footer_media">
                        <a href="https://instagram.com/_qodirboyev_demir__" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                        <a href="https://t.me/qodirboyev_demir" target="_blank"><i class="fa-brands fa-telegram"></i></a>
                        <a href="https://github.com//qodirboyev" target="_blank"><i class="fa-brands fa-github"></i></a>
                        <a href="https://www.linkedin.com/in/demir-qodirboyev-b989b83b5/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
    </footer><!--/Footer section-->


    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
</body>
</html>
